@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Manrope&family=Roboto:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

/***********HEADER*********/
header {
  height: 4.5rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 1.5rem 1.5rem 0 1.5rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(8.3px);
          backdrop-filter: blur(8.3px);
}

nav img {
  width: 12rem;
}

nav svg {
  width: 1.3rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav ul:first-of-type {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  width: 20rem;
  margin-left: 2rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav ul:first-of-type li::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #4cc9f0;
  opacity: 0;
  -webkit-transition: all 0.15s ease, bottom 0.3s ease;
  transition: all 0.15s ease, bottom 0.3s ease;
  margin-top: 1rem;
}

nav ul:first-of-type li:hover::after {
  opacity: 1;
}

nav ul:last-of-type {
  margin-left: auto;
  margin-right: 0;
  width: 9rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul:last-of-type a:hover {
  fill: rgba(0, 0, 0, 0.31);
}

nav #current::after {
  opacity: 1;
}

/***********MAIN*********/
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  color: white;
  z-index: 1;
  max-width: 40rem;
}

p {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

#hero-slider {
  display: -ms-grid;
  display: grid;
}

#hero-slider img {
  width: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

#hero-slider .slider {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  overflow: hidden;
  height: 38rem;
}

#hero-slider .slide-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: scroll 25s linear infinite;
          animation: scroll 25s linear infinite;
  height: 38rem;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-40rem * 3));
            transform: translateX(calc(-40rem * 3));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-40rem * 3));
            transform: translateX(calc(-40rem * 3));
  }
}

.intro {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem 0 3rem 0;
}

.intro p {
  text-align: center;
  max-width: 25rem;
}

.swiper {
  height: 30rem;
}

.swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #4cc9f0;
}

.swiper .swiper-scrollbar-drag {
  background: #4cc9f0;
}

.swiper img:first-of-type {
  margin-top: -1.2rem;
}

.swiper img:nth-of-type(2) {
  margin-top: -3rem;
}

.swiper img:nth-of-type(3) {
  margin-top: -2rem;
}

.swiper img:nth-of-type(5) {
  margin-top: -1.2rem;
}

.swiper img:nth-of-type(7) {
  margin-top: -2.5rem;
}
/*# sourceMappingURL=style.css.map */